@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ebebee;
    margin: 0;
}

.title {
    margin: 20px 0;
    text-align: center;
}

.main {
    border: 8px solid #dddddd;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    max-height: 700px;
    justify-content: space-between;
}

.name {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 16px;
    color: #7e7e7e;
    background-color: #ebebeb;
}

.name > span {
    color: #bbb;
    display: flex;
    align-items: center;
}

.name-input {
    font-size: 24px;
    font-weight: 700;
    color: #7e7e7e;
    flex-grow: 1;
    border: none;
    margin: 0px 12px;
    outline: none;
    background-color: #ebebeb;
}

.message-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #f6f6f6;
    padding: 12px;
}

.message-left,
.message-right {
    list-style: none;
    padding: 8px 12px;
    margin: 8px 0;
    font-size: 18px;
    word-wrap: break-word;
    max-width: 70%;
}

.message-left {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: #fff;
    box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #2d2d2d;
    box-shadow: 2px 2px 4px #dcdcdc;
    color: #f6f6f6;
}

.message-left > p > span,
.message-right > p > span {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

.feedback {
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px 16px 16px;
    color: #2d2d2d;
    text-align: center;
}

.message-form {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #ebebeb;
}

.message-input {
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: #fff;
    border-radius: 24px;
    margin-right: 8px;
}

.send-button {
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    padding: 0px 20px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.v-divider {
    display: none;
}

.clients-total {
    padding: 8px 16px;
    color: #7e7e7e;
    text-align: center;
    background-color: #ebebeb;
}

/* Media Query for tiny applications */
@media (max-width: 480px) {
    .name {
        font-size: 24px;
        padding: 8px 12px;
    }

    .name-input {
        font-size: 18px;
        margin: 0px 8px;
    }

    .message-container {
        width: 100%;
        height: calc(100vh - 160px);
    }

    .message-left,
    .message-right {
        padding: 6px 10px;
        margin: 8px 0;
        font-size: 16px;
    }

    .message-form {
        width: 100%;
        padding: 8px 8px 8px 0;
    }

    .message-input {
        font-size: 14px;
    }

    .send-button {
        font-size: 14px;
        padding: 0px 12px;
    }

    .title {
        font-size: 20px;
    }

    .clients-total {
        font-size: 16px;
    }
}
